:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-pale-cyant: hsl(193, 100%, 96%);
  --color-dark-cyant: hsl(192, 100%, 9%);
  --color-gray-blue: hsl(208, 11%, 55%);
  --color-background: #ffffff;
  --color-afterheader: white;
}

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
a {
  text-decoration: none;
}
.icon {
  fill: black;
}
.icon:hover {
  fill: #0e0e58;
}
/*---Mobile version --*/
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
  background-color: var(--color-background);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  margin: auto;
}
.header {
  background-image: url('images/bg-hero-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edfbff;
  /*width: 415px;
  height: 721px;*/
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  margin-right: 16px;
  margin-left: 16px;
  height: 48px;
}
.header__logo {
  width: 104px;
  height: 16px;
}
.header__button {
  background-color: #ffff;
  border-radius: 12px;
  width: 96px;
  height: 24px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 4px 22px 6px 23px;
  line-height: 14px;
  color: var(--color-dark-cyant);
}
.header__button a:hover {
  background-color: #e4b7e5;
}
img {
  max-width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  margin-right: 35px;
  margin-left: 36px;
  align-items: center;
}

.hero__paragraph {
  text-align: center;
  size: 16px;
  line-height: 24px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.hero__button {
  background-color: var(--color-primary);
  border-radius: 20px;
  height: 40px;
  width: 261.32px;
  /*left: 34.84px;
  top: 248px;*/
  margin: 45px;
  font-size: 12px;
  text-align: center;
  color: #ffff;
  line-height: 16.34px;
  font-weight: 700;
  padding: 10px 64.24px 14px 65.33px;
  align-items: center;
}
.hero__desktop {
  display: flex;
  flex-direction: column;
}

/*grow section*/
.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px;
  text-align: center;
  box-shadow: 0px 3px 4px 2px #979797;
  margin: 59px 20px 40px 20px;
  background-color: var(--color-afterheader);
}
.wrapper__title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #00252e;
}
.wrapper__text {
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  font-size: 14;
  color: #808e9a;
  /*line-height: 110%;*/
  vertical-align: top;
}
.wrapper__description {
  margin: 24px 39px 33px 40px;
}
.wrapper__image {
  margin: 24px 39px 24px 40px;
}
/*ready to built*/
.question {
  margin-left: 11px;
  margin-right: 12px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 0px #979797;
  border: 1px;
  text-align: center;
  height: 176px;
  margin-top: -1025px;
  background-color: var(--color-afterheader);
}
.question__title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 38px;
  margin-bottom: 24px;
}
.question__button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: var(--color-background);
  padding: 12.5px 49px 12.5px 50px;
}
.question__button:hover {
  background-color: #e4b7e5;
}
/*rectangle section*/
.rectangle {
  background-color: var(--color-dark-cyant);
  margin-top: 250px;
  padding: 150px 10px 20px 10px;
}

.rectangle__text {
  margin-left: 56px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-afterheader);
}
.rectangle__icon {
  margin-left: 16px;
  position: absolute;
}
.rectangle__icon img {
  margin-top: 0px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  list-style: none;
  /*margin-left: -39px;*/
}
.menu {
  margin-top: 150px;
  margin-left: -24px;
}
.menu li {
  padding: 16px;
}
.menu a {
  color: var(--color-afterheader);
}
.menu__together {
  margin-top: 55px;
}
.social-icon {
  display: flex;
  justify-content: center;
  text-align: center;
}
.social-icon svg {
  margin: 10px;
}
.social-icon svg:hover {
  fill: var(--color-primary);
}
.copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  line-height: 17px;
  text-align: left;
  color: var(--color-afterheader);
  text-align: center;
  margin-top: 24px;
}
/*desktop version with Grid*/
@media (min-width: 1100px) {
  .header {
    height: 741px;
  }
  .header__button {
    width: 200px;
    height: 48px;
    font-size: 14px;
    margin-top: 57px;
    margin-right: 80px;
    border-radius: 24px;
    color: var(--color-gray-blue);
    padding: 13px 63px 16px 65px;
  }
  .header__button:hover {
    box-shadow: 0px 1px 5px 0px #979797;
  }
  .header__logo {
    width: 200px;
    height: 31px;
    margin-top: 57px;
    margin-left: 80px;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1232px;
  }
  .hero__button {
    margin: 0px;
  }
  .hero__button:hover {
    background-color: #e4b7e5;
  }
  .hero__desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 62px;
  }
  .hero__paragraph {
    text-align: left;
  }
  .hero__mockups {
    margin-left: 90px;
    margin-top: -50px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 776px, 456px;
    grid-template-rows: 1;
    max-height: 440px;
    width: 1232px;
    margin-left: 104px;
    margin-right: 104px;
  }
  .wrapper__description {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: left;
    padding: 151px 161px 150px 120px;
  }
  .wrapper__image {
    grid-column: 2 / 3;
    margin-right: 16px;
    max-width: 440px;
  }
  .conversation {
    display: grid;
    grid-template-columns: 456px, 776px;
    grid-template-rows: 1;
  }
  .conversation img {
    grid-column: 1 / 2;
    grid-row: 1;
    max-width: 440px;
    max-height: 440px;
    margin-left: 96px;
  }
  .conversation .wrapper__description {
    grid-column: 2;
  }
  .question {
    max-width: 800px;
    margin-left: 320px;
    margin-top: -720px;
  }
  .rectangle {
    display: grid;
    grid-template-columns: /*379px 212px 262px;*/ repeat(3, 1fr);
    grid-template-rows: 418px;
  }
  .rectangle__icon {
    max-width: 379px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .rectangle__icon img {
    margin-top: 0px;
  }
  .menu {
    margin-top: 0px;
  }
  .menu__together {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
  }
  .rectangle__desktop {
    margin-left: 108px;
    font-size: 14px;
    line-height: 24px;
  }
  .social-icon {
    left: 980px;
    top: 55px;
  }
  .menu ul {
    margin: 56px;
  }
  .social-icon__desktop {
    margin-top: 68px;
  }
  .copyright {
    margin-top: 80px;
  }
  .menu__first,
  .menu__second {
    line-height: 1;
  }
  .menu__first {
    margin-right: -14px;
  }
  .menu__second {
    margin-left: 105px;
  }
  .menu__together a:hover {
    border-bottom: 3px solid hsl(208, 11%, 55%);
  }
  .social-icon__desktop svg {
    margin-right: 12px;
  }
}
