:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-pale-cyant: hsl(193, 100%, 96%);
  --color-dark-cyant: hsl(192, 100%, 9%);
  --color-gray-blue: hsl(208, 11%, 55%);
}

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
